############################# Filebeat ######################################
filebeat:
  # List of prospectors to fetch data.
  prospectors:
    # Each - is a prospector. Below are the prospector specific configurations
    - input_type: {{ item.input_type| default ('log') }}
      paths: [${ELK_FILEBEAT_PROSPECTORS_PATHS_{{item.name | upper}}:{{ item.paths | join(", ") }}}]
      encoding: {{ item.encoding| default ('plain') }}
{% if item.exclude_lines is defined %}
      exclude_lines: {{ item.exclude_lines }}
{% endif %}
{% if item.include_lines is defined %}
      include_lines: {{ item.include_lines }}
{% endif %}
{% if item.exclude_files is defined %}
      exclude_files: {{ item.exclude_files }}
{% endif %}
{% if item.fields_hash is defined and item.fields is not defined %}
      fields: {{item.fields_hash}}
{% endif %}
{% if item.fields is defined and item.fields_hash is not defined %}
      fields:
{% for k,v in item.fields.iteritems() %}
        {{ k }}: {{ v }}
{% endfor %}
{% endif %}
{% if item.fields_under_root is defined %}
      fields_under_root: {{ item.fields_under_root }}
{% endif %}
{% if item.ignore_older is defined %}
      ignore_older: {{ item.ignore_older }}
{% endif %}
{% if item.close_older is defined %}
      close_older: {{ item.close_older }}
{% endif %}
{% if item.close_inactive is defined %}
      close_inactive: {{ item.close_inactive }}
{% endif %}
      document_type: {{ item.document_type| default ('log') }}
{% if item.scan_frequency is defined %}
      scan_frequency: {{ item.scan_frequency }}
{% endif %}
{% if item.harvester_buffer_size is defined %}
      harvester_buffer_size: {{ item.harvester_buffer_size }}
{% endif %}
{% if item.max_bytes is defined %}
      max_bytes: {{ item.max_bytes }}
{% endif %}
{% if item.tail_files is defined %}
      tail_files: {{ item.tail_files }}
{% endif %}
{% if item.backoff is defined %}
      backoff: {{ item.backoff }}
{% endif %}
{% if item.max_backoff is defined %}
      max_backoff: {{ item.max_backoff }}
{% endif %}
{% if item.backoff_factor is defined %}
      backoff_factor: {{ item.backoff_factor }}
{% endif %}
{% if item.force_close_files is defined %}
      force_close_files: {{ item.force_close_files }}
{% endif %}
{% if item.multiline is defined %}
      multiline:
{% for k,v in item.multiline.iteritems() %}
        {{ k }}: {{ v }}
{% endfor %}
{% endif %}
